.user__avatar {
  width: 80px;
  height: auto;
}

.pagination {
  margin: 20px 0px;
}

.pagination__item {
  padding: 3px 5px;
  border: 1px solid black;
  margin: 0px 5px;
  cursor: pointer;
}

.pagination__item.active {
  color: #fff;
  background-color: #000;
  font-weight: bold;
}
