.dialog__items {
  /* border-right: 3px solid grey; */
  background: rgb(165, 164, 164);
  padding: 20px;

  position: relative;
}

.dialog__items::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -28px;
  height: 100%;
  width: 5px;
  background-color: grey;
}
