/* Header */

.header {
  grid-area: h;
  background-color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.header h1 {
  padding: 10px 0;
}

.login-info__logout,
.login-info__login {
  border: 1px solid gray;
  padding: 5px 10px;
  margin-left: 15px;
  cursor: pointer;

  text-decoration: none;
  color: #000;
  transition: color 0.2s ease, background-color 0.2s ease;
}

.login-info__logout:hover,
.login-info__login:hover {
  color: #fff;
  background-color: gray;
}
