.dialog__item {
  transition: background-color 0.2s ease;
}

.dialog__item_active,
.dialog__item:hover {
  background-color: rgb(233, 233, 233);
}

.dialog__item_from {
  display: block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
}
