/* ProfileInfo */

.profile__info {
  padding-bottom: 50px;
}

.profile__user-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.profile__avatar {
  border-radius: 50%;
  border: 5px solid #fff;
  width: 125px;
  height: 125px;
  margin: 0 auto;
  transform: translateY(-50%);
}

.profile__user-name {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}
